.about-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background: var(--background-color);
  }
  
  .about-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
  }
  
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;
    flex-wrap: wrap;
  }
  
  .about-section.reverse {
    flex-direction: row-reverse;
  }
  
  .about-image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
  }
  
  .about-text {
    flex: 1;
  }
  
  .about-text h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  

    .mom-image {
      object-position: center 30%; /* Adjust as needed */
         /* Zooms out slightly */
    }